@import "../../../styles/index";

:global {
  .smart-table {
    width: 100%;
  }

  .smart-table-container {
    .pagination {
      text-align: right;
      padding: 12px 0;

      .ant-pagination-item {
        background: #202647;
        border-color: @border-color;
        a {
          color: #285ea9;
        }
      }

      .ant-pagination-item-active {
        background: #0c5fb0;
        a {
          color: #fff;
        }
      }
      .ant-pagination-prev,
      .ant-pagination-next,
      .ant-pagination-jump-prev,
      .ant-pagination-jump-next {
      }
      .ant-pagination-prev .ant-pagination-item-link,
      .ant-pagination-next .ant-pagination-item-link {
        background: #202647;
        border-color: @border-color;
        color: #285ea9;
      }
      .ant-pagination-jump-prev:after,
      .ant-pagination-jump-next:after {
        color: #285ea9;
      }
    }
  }

  .smart-table-bordered {
    border: 1px solid #112e55;
    .smart-table-thead {
      & > tr {
        & > th {
          background: #272d53;
        }
      }
    }
  }

  .smart-table-thead {
    & > tr {
      & > th {
        font-size: 16px;
        padding: 15px;
        word-break: break-all;
        border-bottom: 1px solid #112e55;
      }
    }
  }

  .smart-table-tbody {
    & > tr {
      & > td {
        font-size: 14px;
        padding: 10px 15px;
        word-break: break-all;
      }
    }
  }
}
